h1 {
  text-align: center;
}
h2 {
  text-align: left;
}

body {
  font-size: 1.2em;
  text-align: left;
}

#acknowledgement {
  font-size: small;
  position: fixed;
  right: 20px;
  bottom: 10px;
}

a .action-button {
  margin: 20px 20px 20px 20px;
}

#map {
   width: 100%;
   height: 400px;
   margin-bottom: 20px;
   margin-top: 20px;
}

div .fixed-height-grid {
  height: 200px;
}

/* from github.com/ardhi/Leaflet.MousePosition */
.leaflet-container .leaflet-control-mouseposition {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 5px #bbb;
  padding: 0 5px;
  margin:0;
  color: #333;
  font: 11px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.mq-logo-control {
  display: none;
}

