h1 {
  text-align: center;
}
h2 {
  text-align: left;
}

body {
  font-size: 1.2em;
  text-align: left;
}

.leaflet-container.pointer-cursor-enabled {
    cursor:pointer;
}

#acknowledgement {
  font-size: small;
  position: fixed;
  right: 20px;
  bottom: 10px;
}

a .action-button {
  margin: 20px 20px 20px 20px;
}

#map {
   width: 100%;
   height: 400px;
   margin-bottom: 20px;
   margin-top: 20px;
}

div .fixed-height-grid {
  height: 200px;
}

.not-valid-warning {
  display: none;
  margin-top: 5px;
  padding: 9px;
  border-style: solid;
  border-color: red;
  border-width: 1px;
  border-radius: .3rem;
  color: red;
}

.ignition-times-labels {
  display: inline-block;
  font-weight: bold;
  padding-bottom: 0px !important;
}

.activate-warning {
  display: inline-block;
}

.marker-button {
  display: inline-block;
  vertical-align: top;
  margin: auto;
  margin-top: 20px;
  width: 40px;
  font-size: 2em;
  border-color: #cccccc;
  border-style: solid;
  border-width: 1px;
  border-radius: .3rem;
  background-color: white;
}

.marker-buttons {
  height: 70px;
}

.marker-button:hover {
  border-color: #a6a6a6;
  cursor: pointer;
}

.ignition-id {
  display: inline-block;
  margin: auto;
  margin-top: 0px;
  padding: .63em 1em;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: .3rem;
  border-color: #cccccc;
}

.active-field-button {
  display: inline-block;
  margin: auto;
  padding: .63em 1em;
  border-color: #cccccc;
  border-style: solid;
  border-width: 1px;
  border-radius: .3rem;
  background-color: white;
}

.active-field-button:hover {
  border-color: #a6a6a6;
  cursor: pointer;
}


#markers {
  margin-bottom: 20px;
  margin-top: 20px;
  max-height: 120px;
  overflow-y: auto;
}

/*#ignition-times {
  max-height: 150px;
  overflow-x: hidden;
  overflow-y: auto;
}*/

#ignition-type-field {
  display: inline-block;
  width: 200px;
}

#buffer-type-field {
  display: inline-block;
  width: 200px;
}

#ignition-times-count-field {
  display: inline-block;
  width: 300px;
}
  
/* from github.com/ardhi/Leaflet.MousePosition */
.leaflet-container .leaflet-control-mouseposition {
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 5px #bbb;
  padding: 0 5px;
  margin:0;
  color: #333;
  font: 11px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.mq-logo-control {
  display: none;
}

