<!doctype html>
<head>
<title>WRFx - start a fire simulation</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.6/semantic.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/transition.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/dropdown.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/modal.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/dimmer.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/form.min.css"/>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='jquery.datetimepicker.css') }}"/>
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<script src="{{ url_for('static', filename='jquery.datetimepicker.js') }}"></script>
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/dropdown.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/transition.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/modal.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/dimmer.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/form.min.js"></script>
<script src="https://www.mapquestapi.com/sdk/leaflet/v2.2/mq-map.js?key=3rdoGP1zhCE27Q69RXFiR0A3foqbvoZd"></script>
</head>

<body onload="initialize_map();">

<div class="ui one column stackable center aligned page grid">
  <div class="column twelve wide">
    <h1>Initiate a fire simulation</h1>
     
    <br />
    <br />
     
    <form class="ui form" method="POST">
      
    <h2>Step 1: Short description</h2>
    <div class="field">
      <label>Description</label>
      <input name="description" type="text" id="experiment-description" placeholder="Web initiated run ...">
    </div>

    <h2 class="ui header">Step 2: Ignition location</h2>
     
    <p>Select fire location by <b>clicking on the map</b> or filling out the boxes below</p>

    <div id="map"></div>
       
    <div class="two fields">
      <div class="field">
        <label>Latitude</label>
        <input name="ignition_latitude" id="ign-lat" type="text" placeholder="Latitude ...">
      </div>

      <div class="field">
        <label>Longitude</label>
        <input name="ignition_longitude" id="ign-lon" type="text" placeholder="Longitude ...">
      </div>
    </div>
      
    <h2>Step 3: Ignition time and forecast length</h2>
    <p>The simulation will start at least 30 mins before the ignition time.  The maximum forecast length is 48 hrs.</p>
      
    <div class="ui two column grid fixed-height-grid">
        <div class="column">
            <div class="field">
              <label>Ignition time [UTC]</label>
              <div class="ui input left icon">
                <i class="calendar icon"></i>
                <input name="ignition_time" id="ign-time" type="text" placeholder="YYYY-MM-DD_HH:MM:SS">
              </div>
            </div>
        </div>

        <div class="column">
            <div class="field">
                <label>Forecast length [hours]</label>
                <select name="fc_hours" class="ui dropdown" id="fc-hours">
                    <option value="3">3</option>
                    <option value="6">6</option>
                    <option value="9">9</option>
                    <option value="12">12</option>
                    <option value="18">18</option>
                    <option value="24">24</option>
 		    <option value="36">36</option>
                    <option value="48">48</option>
                    <option value="60">60</option>
		    <option value="72">72</option>
                </select>
           </div>
        </div>
    </div>

      <h2>Step 4: Simulation profile</h2>
      
      <div class="ui two column grid fixed-height-grid">
        
        <div class="column">
          <div class="field" style="height:300px;">
            <div class="ui fluid vertical pointing menu" style="height:100%; overflow:auto;">
              <input type="hidden" name="profile" id="profile">
              {% for profile in profiles %}
              <a class="item"
                  data-value="{{profile.identifier | safe}}"
                  onmouseover="set_profile_text('{{profile.info | safe}}');"
                  onclick="$('#profile').val('{{profile.identifier}}');">
                      {{profile.title | safe}}
              </a>
              {% endfor %}
            </div>
          </div>
        </div>
      
        <div class="column">
          <h3>Profile description</h3>
          <p id="profile-info-text">
            Select a simulation profile from the dropdown box.  The simulation profile will specify parameters of your job not set in this form.
          </p>
        </div>
        
      </div>
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
 
      <button class="ui massive negative button" style="margin-bottom: 20px;" type="submit">
        <i class="fire icon"></i>Ignite
      </button>
      <a href="{{ urls['welcome'] }}" class="ui right floated blue button">Home</a>
      
      <div>
        <p><a href="http://www.openwfm.org" target="_blank">University of Utah and CU Denver Wildland Fire Group <script>document.write(new Date().getFullYear())</script></a></p>
      </div>

    </div>
  </div>
</div>

<script src="{{url_for('static', filename='L.Control.MousePosition.js')}}"></script>
<script src="{{url_for('static', filename='build.js')}}"></script>

</body>

