<!doctype html>
<head>
<title>WRFx - start a fire simulation</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.6/semantic.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/transition.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/dropdown.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/modal.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/dimmer.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/form.min.css"/>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', filename='jquery.datetimepicker.css') }}"/>
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<script src="{{ url_for('static', filename='jquery.datetimepicker.js') }}"></script>
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/dropdown.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/transition.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/modal.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/dimmer.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/form.min.js"></script>
<script src="https://www.mapquestapi.com/sdk/leaflet/v2.2/mq-map.js?key=3rdoGP1zhCE27Q69RXFiR0A3foqbvoZd"></script>
</head>

<body onload="initialize_map();">

<div class="ui one column stackable center aligned page grid">
  <div class="column twelve wide">
    <h1>Initiate a fire simulation</h1>
     
    <br />
    <br />
     
    <form id="simulation_form" class="ui form" method="POST">
        
      <h2>Step 1: Short description</h2>
      <div class="field">
        <label>Description</label>
        <input name="description" type="text" id="experiment-description" placeholder="Web initiated run ...">
        <span id="description-warning" class="not-valid-warning">Please enter a description.</span>
      </div>

      <h2 class="ui header">Step 2: Ignition location</h2>
       
      <p>Select fire location by <b>clicking on the map</b> or filling out the boxes below</p>

      <div id="map"></div>
         
      <div class="marker-buttons">
        <div id="additional-marker" class="marker-button"><span>+</span></div>
        <div id="remove-marker" class="marker-button"><span>-</span></div>

        <div id="ignition-type-field" class="field">
          <label>Ignition Type</label>
          <select name="ignition_type" id="ignition-type">
            <option value="ignition-area">Ignition Area</option>
            <option value="multiple-ignitions">Multiple Ignitions</option>
            <option value="ignition-line">Ignition Line</option>
          </select>
        </div>
        <span id="ignition-type-warning" class="not-valid-warning">Ignition Areas must have at least three markers.</span>
        <div class="field" style="display: none;">
          <label>Show GIS Hotspots</label>
          <input type="checkbox" id="show-sat-data" value="sat-data">
        </div>
      </div>
      <div id="markers"></div>

<!--       <div class="marker-buttons">
        <div id="additional-buffer" class="marker-button"><span>+</span></div>
        <div id="remove-buffer" class="marker-button"><span>-</span></div>
        <div id="buffer-type-field" class="field">
          <label>Buffer Type</label>
          <select name="buffer_type" id="buffer-type">
            <option value="buffer-area">Buffer Area</option>
            <option value="buffer-line">Buffer Line</option>
          </select>
        </div>
        <div class="field" style="display: inline-block;">
          <label>Enable Buffer Editing</label>
          <input type="checkbox" id="add-buffer-line" value="add-buffer-line">
        </div>
      </div>
      <div id="buffer-markers"></div>
  -->           
      <h2>Step 3: Ignition time and forecast length</h2>
      <p>The simulation will start at least 30 mins before the ignition time.  The maximum forecast length is 48 hrs.</p>
      <div id="ignition-times-count-field" class="field">
        <label>Single or Multiple Ignition Times</label>
        <select name="ignition_times_count" id="ignition-times-count" style="width: 200px; margin: auto">
          <option value="single">Single Ignition Time</option>
          <option value="multiple">Multiple Ignition Times</option>
        </select>
      </div>
      <div id="ignition-times">
        <div class="ui two column grid" style="height:50px">
          <div class="column ignition-times-labels">
            <span style="margin-left: 50px">Ignition time [UTC]</span>
          </div>
          <div class="column ignition-times-labels">
            <span style="margin-left: 50px">Forecast length [hours]</span>
          </div>
        </div>
      </div>
      <div class="two fields" id="ignition-perimeter-time">
        <div class="field" style="width: 375.2px; margin-left: 7px">
          <label style="margin-left: -150px">Time reached perimeter</label>
          <div class="ui input left icon">
            <i class="calendar icon"></i>
            <input name="ignition_time_perimeter" id="ign-time-perimeter" type="text" placeholder="YYYY-MM-DD_HH:MM:SS">
          </div>
          <span id="ignition-time-warning-perimeter" class="not-valid-warning">The ignition time must be between 1/1/1979 and now in the format YYYY-MM-DD_HH:MM:SS</span>
        </div>
      </div>
        <h2>Step 4: Simulation profile</h2>
        
        <div class="ui two column grid">
          
          <div class="column">
            <div class="field">
                <span id="profile-warning" class="not-valid-warning">Please select a job profile.</span>
              <div class="ui fluid vertical pointing menu">
                <input type="hidden" name="profile" id="profile">
                {% for profile in profiles %}
                <a class="item"
                    data-value="{{profile.identifier | safe}}"
                    onmouseover="set_profile_text('{{profile.info | safe}}');"
                    onclick="$('#profile').val('{{profile.identifier}}');">
                        {{profile.title | safe}}
                </a>
                {% endfor %}
              </div>
            </div>
          </div>
        
          <div class="column">
            <h3>Profile description</h3>
            <p id="profile-info-text">
              Select a simulation profile from the dropdown box.  The simulation profile will specify parameters of your job not set in this form.
            </p>
          </div>
          
        </div>
        
        <br />
        <br />
        <br />
        
        <div class="column">
          <button class="ui massive negative button" style="margin-bottom: 20px;" type="submit">
            <i class="fire icon"></i>Ignite
          </button>
        </div>
      </form>
      <a href="{{ urls['welcome'] }}" class="ui right floated blue button">Home</a>
      
      <div>
        <p><a href="http://www.openwfm.org" target="_blank">CU Denver Wildland Fire Group 2016</a></p>
      </div>

    </div>
  </div>
</div>

<script src="../static/ignitionMarker.js" type="text/javascript"></script>
<script src="../static/ignitionTime.js" type="text/javascript"></script>
<script src="{{url_for('static', filename='L.Control.MousePosition.js')}}"></script>
<script src="{{url_for('static', filename='build.js')}}"></script>

</body>

