<!doctype html>
<title>WRFx - simulation monitor</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.6/semantic.min.css"/>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>

<div class="ui one column stackable center aligned page grid">
  <div class="column twelve wide">
    <h1>Fire simulation monitoring</h1>

        <table class="ui celled table">
          <tbody>
             <tr>
              <td> <div class="ui label">Current time</div> </td>
              <td><p id="current-time"></p></td>
            </tr>
            <tr>
              <td> <div class="ui label">Simulation started </div> </td>
              <td><p id="run-time"></p></td>
            </tr>
            <tr>
              <td> <div class="ui label">Ignition coordinates</div> </td>
              <td> {{ sim['ign_latitude'] }} {{ sim['ign_longitude' ]}} </td>
            </tr>
            <tr>
              <td ><div class="ui label">Ignition time</div></td>
              <td> {{ sim['ign_time_esmf'] }} UTC</td>
            </tr>
            <tr>
              <td><div class="ui label">Short description</div></td>
              <td> {{ sim['description'] }} </td>
            </tr>
            <tr>
              <td><div class="ui label">Simulation start time</div></td>
              <td> {{ sim['start_utc'] }} UTC </td>
            <tr>
            <tr>
              <td><div class="ui label">Simulation end time</div></td>
              <td> {{ sim['end_utc'] }} UTC </td>
            <tr>
            <tr>
              <td> <div class="ui label">System identifier</div> </td>
              <td> <p id="sim-id">{{ sim['id'] }}</p> </td>
            </tr>
          </tbody>
         </table>

         <table class="ui celled table">
           <tbody>
             <tr>
               <td> <div class="ui label">GEOGRID</div> </td>
               <td id="geogrid"> </td>
             </tr>
             <tr>
               <td> <div class="ui label">Ingest</div> </td>
               <td id="ingest"> </td>
             </tr>
             <tr>
               <td ><div class="ui label">UNGRIB</div></td>
               <td id="ungrib"> </td>
             </tr>
             <tr>
               <td><div class="ui label">METGRID</div></td>
               <td id="metgrid"> </td>
             </tr>
             <tr>
               <td><div class="ui label">REAL</div></td>
               <td id="real"> </td>
             <tr>
             <tr>
               <td> <div class="ui label">WRF</div> </td>
               <td id="wrf"> </td>
             </tr>
             <tr>
               <td> <div class="ui label">Output</div> </td>
               <td id="output"> </td>
             </tr>
           </tbody>
          </table>    
    <div>
      <p id="acknowledgement">Copyright UC Denver Wildland Fire Group 2016</p>
    </div>
  </div>
</div>

<script src="{{url_for('static', filename='monitor.js')}}"></script>
