<!doctype html>
<title>WRFx - simulation overview</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.6/semantic.min.css"/>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
<script src="{{ url_for('static', filename='jquery.tablesort.min.js') }}"></script>
<body>

<h1>List of fire simulations</h1>

<br />

<div class="ui one column stackable center aligned page grid">
  <div class="column sixteen wide">
      <table class="ui celled sortable table" id="sim-table">
        <thead>
          <tr>
            <th>Simulation identifier</th>
            <th>Status</th>
            <th id="sim-started-at">Started at</th>
            <th>Description</th>
            <th>Visualization</th>
          </tr>
        </thead>
        <tbody>
          {% for sim_id,sim in simulations.iteritems() %}
          <tr>
            <td> <a href="/monitor/{{sim_id}}" target="_blank"> {{sim_id}} </a></td>
            <td> {{sim['state']['wrf'] | safe}} </td>
            <td> {{sim['started_at']}} </td>
            <td> {{sim['description']}} </td>
            <td> {% if sim['state']['output'] == 'available' %}
                   <a href="{{sim['visualization_link']}}">visualization</a>
                 {% else %}
                   no visualization
                 {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
     </table>
    <div>
      <p><a href="http://www.openwfm.org" target="_blank">UC Denver Wildland Fire Group 2016</a></p>
    </div>
   </div>
</div>

<script type="text/javascript">
$(document).ready( function() {
    var sdata = $('table').tablesort().data('tablesort');
    sdata.sort($('#sim-started-at'), 'desc');
});
</script>


</body>
